.highway {
    padding-left: 120px;
    padding-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    column-gap: 40px;
    row-gap: 50px;
    grid-template-areas:
        "title ."
        "text ."
        "image1 image2"
        "buttons .";
    overflow: hidden;
}

@media screen and (max-width: 1023px) {
    .highway {
        padding: 0 18px 42px;
        row-gap: 40px;
        justify-content: space-between;
        align-items: center;
        grid-template-columns: repeat(2, minmax(min-content, max-content));
        grid-template-rows: repeat(4, minmax(min-content, max-content));
        grid-template-areas:
            "title buttons"
            "image1 image1"
            "text text"
            "line line";
    }
}