.intro__title {
    width: 300px;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 1.09;
    letter-spacing: -0.5px;
    color: #151515;
}

@media screen and (max-width: 1023px) {
    .intro__title {
        width: 180px;
        padding-top: 0;
        padding-bottom: 100vw;
        font-size: 32px;
        line-height: 1.25;
    }
}

@media screen and (max-width: 767px) {
    .intro__title {
        width: 180px;
        padding-top: 0;
        padding-bottom: 133.75vw;
        font-size: 32px;
        line-height: 1.25;
    }
}
