.highway__button {
    width: 50px;
    height: 100%;
    background: #EBEBEB;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    text-decoration: none;
    color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: background-color .5s ease;
}

.highway__button:first-of-type {
    margin-right: 20px;
}

@media screen and (max-width: 1023px) {
    .highway__button {
        width: 24px;
        font-size: 20px;
    }
    .highway__button:first-of-type {
        margin-right: 10px;
    }
}

.highway__button:hover {
    background-color: #c3c3c3;
}