.workout__link {
    text-decoration: none; 
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    color: #151515;
    opacity: 1; 
    transition: opacity 0.1s linear;
}

.workout__link:hover {
    opacity: 0.7; 
}

.workout__link:not(:last-of-type) {
    margin-right: 30px; 
}

@media screen and (max-width: 660px) {
    .workout__link {
        font-size: 14px; 
        line-height: 1.43; 
    }
}