.workout {
    display: grid; 
    grid-template-columns: 460px minmax(min-content, max-content);
    grid-template-rows: 60px 1fr 28px;
    grid-template-areas: "title image"
                          "text image"
                          "links image";
    gap: 0 20px; 
    justify-content: space-between;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 210px 48px 120px 48px; 
}

@media screen and (max-width: 1023px) {
  .workout {
    padding: 40px 48px 120px 48px; 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    grid-template-areas: "title"
                          "image"
                          "text"
                          "links";
    gap: 40px 0; 
  }
}

@media screen and (max-width: 768px) {
    .workout {
      padding: 40px 24px 80px 24px; 
    }
}
  
@media screen and (max-width: 420px) {
  .workout {
    padding: 40px 18px 60px 18px; 
  }
}