.workout {
    display: grid; 
    grid-template-columns: 460px minmax(min-content, max-content);
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas: "title image"
                          "text image"
                          "links image";
    gap: 0 20px; 
    justify-content: space-between;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 212px 120px 120px 120px; 
}

@media screen and (max-width: 1023px) {
  .workout {
    padding: 40px 18px 120px 18px; 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    grid-template-areas: "title"
                          "image"
                          "text"
                          "links";
    gap: 40px 0; 
  }
}

@media screen and (max-width: 768px) {
    .workout {
      padding-bottom: 80px;  
    }
}
  
@media screen and (max-width: 420px) {
  .workout {
    padding-bottom: 60px; 
  }
}