.bikes__select {
    width: 114px;
    padding: 8px 12px; 
    background-color: transparent;
    appearance: none;
    background: url(../../../images/arrow_down.svg) no-repeat right;
    background-position-x: calc(100% - 10px);
    border: 1px solid #E3E3E3;
    border-radius: 2px;
    font-size: 11px;
    font-weight: 600;
}
