.bikes__title {
    margin: 0; 
    font-weight: 700;
    font-size: 55px;
    line-height: 1.09;
    letter-spacing: -0.5px;
    color: #151515;
}

@media screen and (max-width: 660px) {
    .bikes__title {
        font-size: 40px; 
    }
}

@media screen and (max-width: 460px) {
    .bikes__title {
        margin-bottom: 40px;  
    }
}

@media screen and (max-width: 420px) {
    .bikes__title {
        margin-bottom: 32px;  
    }
}