.footer__container {
    max-width: 1200px;
    padding: 80px 120px 60px 120px;  
    margin: 0 auto; 
}

@media screen and (max-width: 1023px) {
    .footer__container {
        padding: 80px 18px 60px 18px;  
    }
}

@media screen and (max-width: 768px) {
    .footer__container {
        padding: 60px 18px 20px 18px;  
    }
}
