.card__link {
    display: block; 
    margin: 0; 
    padding-left: 6px; 
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: #151515;
    text-decoration: none;
    opacity: 1;
}

.card__link:hover {
    opacity: .7; 
}

@media screen and (max-width: 660px) {
    .card__link {
        text-align: center;
        transform: translateY(-40px);
        font-size: 14px;
    }
}

