.header__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.286;
  color: #151515;
  text-decoration: none;
  opacity: 1;
}

@media screen and (max-width: 1023px) {
    .header__link {
        display: none;
    }
}

.header__link:hover {
  opacity: .7;
}